.dark .custom-checkbox {
  background-color: black;
}
.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #dfe3fa;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.2s ease;
  position: relative;
  background-color: #dfe3fa;
}

.custom-checkbox:checked {
  background-color: #7c5dfa;
  border-color: #7c5dfa;
}

.custom-checkbox:hover {
  border-color: #7c5dfa;
}

.custom-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
