<section class="w-full px-8 md:px-36 lg:px-48 py-4 my-8 md:pt-14 mt-24 lg:mt-0">
  <div class="flex justify-between">
    <div>
      <h1
        class="text-black dark:text-almostWhite text-lg sm:text-3xl lg:text-xl font-bold"
      >
        Invoices
      </h1>
      <h4 class="text-darkCyan text-sm sm:flex sm:gap-2 mt-2">
        <span class="hidden sm:block">There are</span> 4
        <span class="hidden sm:block">pending</span> invoices
      </h4>
    </div>
    <div class="flex justify-between gap-4">
      <div class="flex justify-between items-center relative gap-2">
        <h1
          class="text-lg text-black dark:text-almostWhite sm:flex gap-2"
          (click)="toggleFilter()"
        >
          Filter <span class="hidden sm:block">by status</span>
        </h1>
        @if (isFilterOn) {
        <img
          src="assets/icon-arrow-up.svg"
          alt="arrow up icon"
          (click)="toggleFilter()"
        />
        <div
          class="absolute bg-white dark:bg-extraLightBlack rounded-md min-w-32 sm:min-w-40 top-12 sm:top-14 -left-6 sm:left-0 p-4 shadow-xl z-50"
        >
          <div class="flex flex-col space-y-4">
            <label
              class="inline-flex items-center cursor-pointer"
              (click)="onFilterToggle('draft')"
            >
              <input type="checkbox" class="form-checkbox custom-checkbox" />

              <span
                class="ml-2 text-extraLightBlack dark:text-white dark:font-normal font-bold"
                (click)="onFilterToggle('draft')"
                >Draft</span
              >
            </label>
            <label
              class="inline-flex items-center cursor-pointer"
              (click)="onFilterToggle('pending')"
            >
              <input type="checkbox" class="form-checkbox custom-checkbox" />

              <span
                class="ml-2 text-extraLightBlack dark:text-white dark:font-normal font-bold"
                (click)="onFilterToggle('pending')"
                >Pending</span
              >
            </label>
            <label
              class="inline-flex items-center cursor-pointer"
              (click)="onFilterToggle('paid')"
            >
              <input type="checkbox" class="form-checkbox custom-checkbox" />

              <span
                class="ml-2 text-extraLightBlack dark:text-white dark:font-normal font-bold"
                (click)="onFilterToggle('paid')"
                >Paid</span
              >
            </label>
          </div>
        </div>

        } @else {
        <img
          src="assets/icon-arrow-down.svg"
          alt="arrow down icon"
          (click)="toggleFilter()"
        />

        }
      </div>
      <div
        class="bg-primary hover:bg-lightBlue flex justify-between items-center px-1 gap-4 rounded-full cursor-pointer"
        (click)="addNew()"
      >
        <div
          class="bg-white rounded-full h-10 w-10 flex justify-center items-center"
        >
          <img src="assets/icon-plus.svg" alt="plus icon" />
        </div>
        <h1 class="text-white mr-2 md:flex gap-1">
          New <span class="hidden md:block">Invoice</span>
        </h1>
      </div>
    </div>
  </div>
</section>
