<!--------------------- New Invoice -------------------->
@if (toggleNewInvoice) {
<div
  class="absolute top-0 left-0 w-full h-full sm:w-10/12 bg-almostWhite dark:bg-black"
>
  <div class="absolute top-0 left-0">
    <new-invoice (toggleModal)="toggle()" />
  </div>
</div>
} @else {
<app-filter (onAddNew)="toggle()"></app-filter>

<div
  class="w-full h-full px-8 md:px-36 lg:px-48 py-4 bg-almostWhite dark:bg-black"
  *ngIf="invoices$ | async as invoices"
>
  @if (invoices.length === 0) {
  <empty-invoices />
  } @for (invoice of invoices; track $index) {
  <app-invoice [invoice]="invoice"></app-invoice>

  }
</div>
}
